target
.settings
.project
.idea
.vscode
*.iml
atlassian-ide-plugin.xml
tools/dependency-reduced-pom.xml
*.iws
*.ipr
*.bak
work
*~
overlays*
*.info
classes/
.DS_Store
node_modules/**
*/node_modules/
*/.grunt/